.light-theme {
          --help-text-default-text-color: #6F7592;
  --help-text-default-icon-color: #6F7592;
  --help-text-error-text-color: #EB3B46;
  --help-text-error-icon-color: #EB3B46;
  --help-text-disabled-text-color: #AAAFC7;
  --help-text-disabled-icon-color: #AAAFC7;
  --help-text-s-text-size: 14px;
  --help-text-s-icon-size: 14px;
  --help-text-m-text-size: 16px;
  --help-text-m-icon-size: 16px;
  --help-text-l-text-size: 18px;
  --help-text-l-icon-size: 18px;
  --help-text-xl-text-size: 20px;
  --help-text-xl-icon-size: 20px;
  --help-text-font-family: "IBM Plex Sans";
  --help-text-font-weight: Regular;
  --alert-width: 72px;
  --alert-padding-top: 16px;
  --alert-padding-right: 16px;
  --alert-padding-bottom: 16px;
  --alert-padding-left: 16px;
  --alert-border-width: 1px;
  --alert-font-family: "IBM Plex Sans";
  --alert-title-font-weight: Bold;
  --alert-title-font-size: 16px;
  --alert-body-font-weight: Regular;
  --alert-body-font-size: 14px;
  --alert-icon-size: 16px;
  --alert-info-background-color: #D4EDFA;
  --alert-info-icon-color: #0096DB;
  --alert-info-border-color: #0096DB;
  --alert-info-text-color: #2B3440;
  --alert-success-border-color: #00AB8E;
  --alert-success-background-color: #C9F0E9;
  --alert-success-icon-color: #00AB8E;
  --alert-success-text-color: #2B3440;
  --alert-warning-border-color: #FAA719;
  --alert-warning-background-color: #FFF2D9;
  --alert-warning-icon-color: #FAA719;
  --alert-warning-text-color: #2B3440;
  --alert-error-border-color: #EB3B46;
  --alert-error-background-color: #FFD9D9;
  --alert-error-icon-color: #EB3B46;
  --alert-error-text-color: #2B3440;
  --field-label-s-text-size: 14px;
  --field-label-m-text-size: 16px;
  --field-label-l-text-size: 18px;
  --field-label-xl-text-size: 20px;
  --field-label-font-family: "IBM Plex Sans";
  --field-label-font-weight: Regular;
  --field-label-disabled-text-color: #AAAFC7;
  --field-label-default-text-color: #6F7592;
  --tag-font-family: "IBM Plex Sans";
  --tag-font-weight: Regular;
  --tag-border-radius: 0px;
  --tag-solid-info-background-color: #0096DB;
  --tag-solid-info-text-color: #ffffff;
  --tag-solid-success-background-color: #00AB8E;
  --tag-solid-success-text-color: #ffffff;
  --tag-solid-warning-background-color: #FAA719;
  --tag-solid-warning-text-color: #ffffff;
  --tag-solid-error-background-color: #EB3B46;
  --tag-solid-error-text-color: #ffffff;
  --tag-solid-neutral-background-color: #6F7592;
  --tag-solid-neutral-text-color: #ffffff;
  --tag-inverted-info-background-color: #D4EDFA;
  --tag-inverted-info-text-color: #0096DB;
  --tag-inverted-success-background-color: #C9F0E9;
  --tag-inverted-success-text-color: #00AB8E;
  --tag-inverted-warning-background-color: #FFF2D9;
  --tag-inverted-warning-text-color: #FAA719;
  --tag-inverted-error-background-color: #FFD9D9;
  --tag-inverted-error-text-color: #EB3B46;
  --tag-inverted-neutral-background-color: #E8EBF2;
  --tag-inverted-neutral-text-color: #EB3B46;
  --tag-outlined-info-border-color: #0096DB;
  --tag-outlined-info-text-color: #0096DB;
  --tag-outlined-info-background-color: #ffffff03;
  --tag-outlined-sucess-border-color: #00AB8E;
  --tag-outlined-sucess-text-color: #00AB8E;
  --tag-outlined-sucess-background-color: #ffffff03;
  --tag-outlined-warning-border-color: #FAA719;
  --tag-outlined-warning-text-color: #FAA719;
  --tag-outlined-warning-background-color: #ffffff03;
  --tag-outlined-error-border-color: #EB3B46;
  --tag-outlined-error-text-color: #EB3B46;
  --tag-outlined-error-background-color: #ffffff03;
  --tag-outlined-neutral-border-color: #6F7592;
  --tag-outlined-neutral-text-color: #6F7592;
  --tag-outlined-neutral-background-color: #ffffff03;
  --tag-borderless-info-border-color: #ffffff03;
  --tag-borderless-info-text-color: #0096DB;
  --tag-borderless-info-background-color: #ffffff03;
  --tag-borderless-sucess-border-color: #ffffff03;
  --tag-borderless-sucess-text-color: #00AB8E;
  --tag-borderless-sucess-background-color: #ffffff03;
  --tag-borderless-warning-border-color: #ffffff03;
  --tag-borderless-warning-text-color: #FAA719;
  --tag-borderless-warning-background-color: #ffffff03;
  --tag-borderless-error-border-color: #ffffff03;
  --tag-borderless-error-text-color: #EB3B46;
  --tag-borderless-error-background-color: #ffffff03;
  --tag-borderless-neutral-border-color: #ffffff03;
  --tag-borderless-neutral-text-color: #6F7592;
  --tag-borderless-neutral-background-color: #ffffff03;
  --tag-s-text-size: 14px;
  --tag-s-padding-top: 6px;
  --tag-s-padding-right: 12px;
  --tag-s-padding-bottom: 6px;
  --tag-s-padding-left: 12px;
  --tag-m-text-size: 16px;
  --tag-m-padding-top: 8px;
  --tag-m-padding-right: 16px;
  --tag-m-padding-bottom: 8px;
  --tag-m-padding-left: 16px;
  --tag-l-text-size: 18px;
  --tag-l-padding-top: 8px;
  --tag-l-padding-right: 16px;
  --tag-l-padding-bottom: 8px;
  --tag-l-padding-left: 16px;
  --tag-xl-text-size: 20px;
  --tag-xl-padding-top: 8px;
  --tag-xl-padding-right: 16px;
  --tag-xl-padding-bottom: 8px;
  --tag-xl-padding-left: 16px;
  --button-border-radius: 4px;
  --button-border-width: 1px;
  --button-font-family: "IBM Plex Sans";
  --button-font-weight: IBM Plex Sans;
  --button-cta-default-background-color: #0096DB;
  --button-cta-default-text-color: #ffffff;
  --button-cta-default-border-color: #0096DB;
  --button-cta-default-icon-color: #ffffff;
  --button-cta-hover-background-color: #006796;
  --button-cta-hover-text-color: #ffffff;
  --button-cta-hover-border-color: #006796;
  --button-cta-hover-icon-color: #ffffff;
  --button-cta-active-background-color: #004261;
  --button-cta-active-text-color: #ffffff;
  --button-cta-active-border-color: #004261;
  --button-cta-active-icon-color: #ffffff;
  --button-cta-focus-background-color: #0096DB;
  --button-cta-focus-text-color: #ffffff;
  --button-cta-focus-border-color: #0096DB;
  --button-cta-focus-icon-color: #ffffff;
  --button-primary-default-background-color: #ffffff03;
  --button-primary-default-quiet-background-color: #ffffff03;
  --button-primary-default-text-color: #3C4858;
  --button-primary-default-quiet-text-color: #3C4858;
  --button-primary-default-border-color: #3C4858;
  --button-primary-default-quiet-border-color: #ffffff03;
  --button-primary-default-icon-color: #3C4858;
  --button-primary-default-quiet-icon-color: #3C4858;
  --button-primary-hover-background-color: #2B3440;
  --button-primary-hover-quiet-background-color: #E8EBF2;
  --button-primary-hover-text-color: #ffffff;
  --button-primary-hover-quiet-text-color: #2B3440;
  --button-primary-hover-border-color: #2B3440;
  --button-primary-hover-quiet-border-color: #E8EBF2;
  --button-primary-hover-icon-color: #ffffff;
  --button-primary-hover-quiet-icon-color: #2B3440;
  --button-primary-active-background-color: #2B3440;
  --button-primary-active-quiet-background-color: #DDDFEA;
  --button-primary-active-text-color: #ffffff;
  --button-primary-active-quiet-text-color: #2B3440;
  --button-primary-active-border-color: #2B3440;
  --button-primary-active-quiet-border-color: #DDDFEA;
  --button-primary-active-icon-color: #ffffff;
  --button-primary-active-quiet-icon-color: #2B3440;
  --button-primary-focus-background-color: #ffffff03;
  --button-primary-focus-quiet-background-color: #ffffff03;
  --button-primary-focus-text-color: #3C4858;
  --button-primary-focus-quiet-text-color: #3C4858;
  --button-primary-focus-border-color: #3C4858;
  --button-primary-focus-quiet-border-color: #ffffff03;
  --button-primary-focus-icon-color: #3C4858;
  --button-primary-focus-quiet-icon-color: #3C4858;
  --button-secondary-default-background-color: #ffffff03;
  --button-secondary-default-quiet-background-color: #ffffff03;
  --button-secondary-default-text-color: #6F7592;
  --button-secondary-default-quiet-text-color: #6F7592;
  --button-secondary-default-border-color: #6F7592;
  --button-secondary-default-quiet-border-color: #ffffff03;
  --button-secondary-default-icon-color: #6F7592;
  --button-secondary-default-quiet-icon-color: #6F7592;
  --button-secondary-hover-background-color: #3C4858;
  --button-secondary-hover-quiet-background-color: #E8EBF2;
  --button-secondary-hover-text-color: #ffffff;
  --button-secondary-hover-quiet-text-color: #3C4858;
  --button-secondary-hover-border-color: #3C4858;
  --button-secondary-hover-quiet-border-color: #E8EBF2;
  --button-secondary-hover-icon-color: #ffffff;
  --button-secondary-hover-quiet-icon-color: #3C4858;
  --button-secondary-active-background-color: #2B3440;
  --button-secondary-active-quiet-background-color: #DDDFEA;
  --button-secondary-active-text-color: #ffffff;
  --button-secondary-active-quiet-text-color: #2B3440;
  --button-secondary-active-border-color: #2B3440;
  --button-secondary-active-quiet-border-color: #DDDFEA;
  --button-secondary-active-icon-color: #ffffff;
  --button-secondary-active-quiet-icon-color: #2B3440;
  --button-secondary-focus-background-color: #ffffff03;
  --button-secondary-focus-quiet-background-color: #ffffff03;
  --button-secondary-focus-text-color: #6F7592;
  --button-secondary-focus-quiet-text-color: #6F7592;
  --button-secondary-focus-border-color: #6F7592;
  --button-secondary-focus-quiet-border-color: #ffffff03;
  --button-secondary-focus-icon-color: #6F7592;
  --button-secondary-focus-quiet-icon-color: #6F7592;
  --button-negative-default-background-color: #ffffff03;
  --button-negative-default-quiet-background-color: #ffffff03;
  --button-negative-default-text-color: #EB3B46;
  --button-negative-default-quiet-text-color: #EB3B46;
  --button-negative-default-border-color: #EB3B46;
  --button-negative-default-quiet-border-color: #ffffff03;
  --button-negative-default-icon-color: #EB3B46;
  --button-negative-default-quiet-icon-color: #EB3B46;
  --button-negative-hover-background-color: #EB3B46;
  --button-negative-hover-quiet-background-color: #ffffff03;
  --button-negative-hover-text-color: #ffffff;
  --button-negative-hover-quiet-text-color: #EB3B46;
  --button-negative-hover-border-color: #EB3B46;
  --button-negative-hover-quiet-border-color: #E8EBF2;
  --button-negative-hover-icon-color: #ffffff;
  --button-negative-hover-quiet-icon-color: #EB3B46;
  --button-negative-active-background-color: #A3363B;
  --button-negative-active-quiet-background-color: #ffffff03;
  --button-negative-active-text-color: #ffffff;
  --button-negative-active-quiet-text-color: #A3363B;
  --button-negative-active-border-color: #A3363B;
  --button-negative-active-quiet-border-color: #ffffff03;
  --button-negative-active-icon-color: #ffffff;
  --button-negative-active-quiet-icon-color: #A3363B;
  --button-negative-focus-background-color: #ffffff03;
  --button-negative-focus-quiet-background-color: #ffffff03;
  --button-negative-focus-text-color: #EB3B46;
  --button-negative-focus-quiet-text-color: #EB3B46;
  --button-negative-focus-border-color: #EB3B46;
  --button-negative-focus-quiet-border-color: #ffffff03;
  --button-negative-focus-icon-color: #EB3B46;
  --button-negative-focus-quiet-icon-color: #EB3B46;
  --button-disabled-background-color: #E8EBF2;
  --button-disabled-text-color: #AAAFC7;
  --button-disabled-border-color: #E8EBF2;
  --button-disabled-icon-color: #AAAFC7;
  --button-s-text-size: 14px;
  --button-s-padding-left: 16px;
  --button-s-padding-right: 16px;
  --button-s-padding-top: 8px;
  --button-s-padding-bottom: 8px;
  --button-s-icon-size: 14px;
  --button-m-text-size: 16px;
  --button-m-padding-left: 16px;
  --button-m-padding-right: 16px;
  --button-m-padding-top: 12px;
  --button-m-padding-bottom: 12px;
  --button-m-icon-size: 16px;
  --button-l-text-size: 18px;
  --button-l-padding-left: 16px;
  --button-l-padding-right: 16px;
  --button-l-padding-top: 16px;
  --button-l-padding-bottom: 16px;
  --button-l-icon-size: 18px;
  --button-xl-text-size: 20px;
  --button-xl-padding-left: 16px;
  --button-xl-padding-right: 16px;
  --button-xl-padding-top: 20px;
  --button-xl-padding-bottom: 20px;
  --button-xl-icon-size: 20px;
  --button-line-height: 100%;
  --semantic-color-actions-negative-default-border-color: #EB3B46;
  --semantic-color-actions-negative-default-quiet-border-color: #ffffff03;
  --semantic-color-actions-negative-default-text-color: #EB3B46;
  --semantic-color-actions-negative-default-quiet-text-color: #EB3B46;
  --semantic-color-actions-negative-default-background-color: #ffffff03;
  --semantic-color-actions-negative-default-quiet-background-color: #ffffff03;
  --semantic-color-actions-negative-hover-border-color: #EB3B46;
  --semantic-color-actions-negative-hover-quiet-border-color: #E8EBF2;
  --semantic-color-actions-negative-hover-text-color: #ffffff;
  --semantic-color-actions-negative-hover-quiet-text-color: #EB3B46;
  --semantic-color-actions-negative-hover-background-color: #EB3B46;
  --semantic-color-actions-negative-hover-quiet-background-color: #ffffff03;
  --semantic-color-actions-negative-active-border-color: #A3363B;
  --semantic-color-actions-negative-active-quiet-border-color: #ffffff03;
  --semantic-color-actions-negative-active-text-color: #ffffff;
  --semantic-color-actions-negative-active-quiet-text-color: #A3363B;
  --semantic-color-actions-negative-active-background-color: #A3363B;
  --semantic-color-actions-negative-active-quiet-background-color: #ffffff03;
  --semantic-color-actions-negative-focus-border-color: #EB3B46;
  --semantic-color-actions-negative-focus-quiet-border-color: #ffffff03;
  --semantic-color-actions-negative-focus-text-color: #EB3B46;
  --semantic-color-actions-negative-focus-quiet-text-color: #EB3B46;
  --semantic-color-actions-negative-focus-background-color: #ffffff03;
  --semantic-color-actions-negative-focus-quiet-background-color: #ffffff03;
  --semantic-color-actions-cta-default-border-color: #0096DB;
  --semantic-color-actions-cta-default-text-color: #ffffff;
  --semantic-color-actions-cta-default-background-color: #0096DB;
  --semantic-color-actions-cta-hover-border-color: #006796;
  --semantic-color-actions-cta-hover-text-color: #ffffff;
  --semantic-color-actions-cta-hover-background-color: #006796;
  --semantic-color-actions-cta-active-border-color: #004261;
  --semantic-color-actions-cta-active-text-color: #ffffff;
  --semantic-color-actions-cta-active-background-color: #004261;
  --semantic-color-actions-cta-focus-border-color: #0096DB;
  --semantic-color-actions-cta-focus-text-color: #ffffff;
  --semantic-color-actions-cta-focus-background-color: #0096DB;
  --semantic-color-actions-primary-default-border-color: #3C4858;
  --semantic-color-actions-primary-default-quiet-border-color: #ffffff03;
  --semantic-color-actions-primary-default-text-color: #3C4858;
  --semantic-color-actions-primary-default-quiet-text-color: #3C4858;
  --semantic-color-actions-primary-default-background-color: #ffffff03;
  --semantic-color-actions-primary-default-quiet-background-color: #ffffff03;
  --semantic-color-actions-primary-hover-border-color: #2B3440;
  --semantic-color-actions-primary-hover-quiet-border-color: #E8EBF2;
  --semantic-color-actions-primary-hover-text-color: #ffffff;
  --semantic-color-actions-primary-hover-quiet-text-color: #2B3440;
  --semantic-color-actions-primary-hover-background-color: #2B3440;
  --semantic-color-actions-primary-hover-quiet-background-color: #E8EBF2;
  --semantic-color-actions-primary-active-border-color: #2B3440;
  --semantic-color-actions-primary-active-quiet-border-color: #DDDFEA;
  --semantic-color-actions-primary-active-text-color: #ffffff;
  --semantic-color-actions-primary-active-quiet-text-color: #2B3440;
  --semantic-color-actions-primary-active-background-color: #2B3440;
  --semantic-color-actions-primary-active-quiet-background-color: #DDDFEA;
  --semantic-color-actions-primary-focus-border-color: #3C4858;
  --semantic-color-actions-primary-focus-quiet-border-color: #ffffff03;
  --semantic-color-actions-primary-focus-text-color: #3C4858;
  --semantic-color-actions-primary-focus-quiet-text-color: #3C4858;
  --semantic-color-actions-primary-focus-background-color: #ffffff03;
  --semantic-color-actions-primary-focus-quiet-background-color: #ffffff03;
  --semantic-color-actions-secondary-default-border-color: #6F7592;
  --semantic-color-actions-secondary-default-quiet-border-color: #ffffff03;
  --semantic-color-actions-secondary-default-text-color: #6F7592;
  --semantic-color-actions-secondary-default-quiet-text-color: #6F7592;
  --semantic-color-actions-secondary-default-background-color: #ffffff03;
  --semantic-color-actions-secondary-default-quiet-background-color: #ffffff03;
  --semantic-color-actions-secondary-hover-border-color: #3C4858;
  --semantic-color-actions-secondary-hover-quiet-border-color: #E8EBF2;
  --semantic-color-actions-secondary-hover-text-color: #ffffff;
  --semantic-color-actions-secondary-hover-quiet-text-color: #3C4858;
  --semantic-color-actions-secondary-hover-background-color: #3C4858;
  --semantic-color-actions-secondary-hover-quiet-background-color: #E8EBF2;
  --semantic-color-actions-secondary-active-border-color: #2B3440;
  --semantic-color-actions-secondary-active-quiet-border-color: #DDDFEA;
  --semantic-color-actions-secondary-active-text-color: #ffffff;
  --semantic-color-actions-secondary-active-quiet-text-color: #2B3440;
  --semantic-color-actions-secondary-active-background-color: #2B3440;
  --semantic-color-actions-secondary-active-quiet-background-color: #DDDFEA;
  --semantic-color-actions-secondary-focus-border-color: #6F7592;
  --semantic-color-actions-secondary-focus-quiet-border-color: #ffffff03;
  --semantic-color-actions-secondary-focus-text-color: #6F7592;
  --semantic-color-actions-secondary-focus-quiet-text-color: #6F7592;
  --semantic-color-actions-secondary-focus-background-color: #ffffff03;
  --semantic-color-actions-secondary-focus-quiet-background-color: #ffffff03;
  --semantic-color-actions-disabled-background-color: #E8EBF2;
  --semantic-color-actions-disabled-text-color: #AAAFC7;
  --semantic-color-actions-disabled-border-color: #E8EBF2;
  --semantic-color-inputs-default-border-color: #6F7592;
  --semantic-color-inputs-default-text-color: #6F7592;
  --semantic-color-inputs-default-icon-color: #6F7592;
  --semantic-color-inputs-default-background-color: #ffffff;
  --semantic-color-inputs-error-border-color: #EB3B46;
  --semantic-color-inputs-error-text-color: #EB3B46;
  --semantic-color-inputs-error-icon-color: #EB3B46;
  --semantic-color-inputs-error-background-color: #ffffff;
  --semantic-color-inputs-disabled-background-color: #E8EBF2;
  --semantic-color-inputs-disabled-text-color: #AAAFC7;
  --semantic-color-inputs-disabled-icon-color: #AAAFC7;
  --semantic-color-inputs-disabled-border-color: #E8EBF2;
  --semantic-color-inputs-hover-border-color: #3C4858;
  --semantic-color-inputs-hover-text-color: #3C4858;
  --semantic-color-inputs-hover-icon-color: #3C4858;
  --semantic-color-inputs-hover-background-color: #ffffff;
  --semantic-color-inputs-focus-border-color: #2B3440;
  --semantic-color-inputs-focus-text-color: #ffffff;
  --semantic-color-inputs-focus-icon-color: #ffffff;
  --semantic-color-inputs-focus-background-color: #2B3440;
  --semantic-color-inputs-focus-focus-ring: #0096DB;
  --semantic-color-feedback-info-border-color: #0096DB;
  --semantic-color-feedback-info-text-color: #0096DB;
  --semantic-color-feedback-info-icon-color: #0096DB;
  --semantic-color-feedback-info-background-color: #D4EDFA;
  --semantic-color-feedback-warning-border-color: #FAA719;
  --semantic-color-feedback-warning-text-color: #FAA719;
  --semantic-color-feedback-warning-icon-color: #FAA719;
  --semantic-color-feedback-warning-background-color: #FFF2D9;
  --semantic-color-feedback-success-border-color: #00AB8E;
  --semantic-color-feedback-success-text-color: #00AB8E;
  --semantic-color-feedback-success-icon-color: #00AB8E;
  --semantic-color-feedback-success-background-color: #C9F0E9;
  --semantic-color-feedback-help-border-color: #6B62D1;
  --semantic-color-feedback-help-text-color: #6B62D1;
  --semantic-color-feedback-help-icon-color: #6B62D1;
  --semantic-color-feedback-help-background-color: #E3E1FA;
  --semantic-color-feedback-neutral-border-color: #6F7592;
  --semantic-color-feedback-neutral-text-color: #6F7592;
  --semantic-color-feedback-neutral-icon-color: #6F7592;
  --semantic-color-feedback-neutral-background-color: #E8EBF2;
  --semantic-color-feedback-error-border-color: #EB3B46;
  --semantic-color-feedback-error-text-color: #EB3B46;
  --semantic-color-feedback-error-icon-color: #EB3B46;
  --semantic-color-feedback-error-background-color: #FFD9D9;
  --semantic-color-typography-default: #2B3440;
  --semantic-color-typography-on-background: #ffffff;
  --semantic-color-status-info-border-color: #0096DB;
  --semantic-color-status-info-text-color: #0096DB;
  --semantic-color-status-info-icon-color: #0096DB;
  --semantic-color-status-info-background-color: #D4EDFA;
  --semantic-color-status-warning-border-color: #FAA719;
  --semantic-color-status-warning-text-color: #FAA719;
  --semantic-color-status-warning-icon-color: #FAA719;
  --semantic-color-status-warning-background-color: #FFF2D9;
  --semantic-color-status-success-border-color: #00AB8E;
  --semantic-color-status-success-text-color: #00AB8E;
  --semantic-color-status-success-icon-color: #00AB8E;
  --semantic-color-status-success-background-color: #C9F0E9;
  --semantic-color-status-help-border-color: #6B62D1;
  --semantic-color-status-help-text-color: #6B62D1;
  --semantic-color-status-help-icon-color: #6B62D1;
  --semantic-color-status-help-background-color: #E3E1FA;
  --semantic-color-status-neutral-border-color: #6F7592;
  --semantic-color-status-neutral-text-color: #6F7592;
  --semantic-color-status-neutral-icon-color: #6F7592;
  --semantic-color-status-neutral-background-color: #E8EBF2;
  --semantic-color-status-error-border-color: #EB3B46;
  --semantic-color-status-error-text-color: #EB3B46;
  --semantic-color-status-error-icon-color: #EB3B46;
  --semantic-color-status-error-background-color: #FFD9D9;
  --semantic-font-size-actions-s: 14px;
  --semantic-font-size-actions-m: 16px;
  --semantic-font-size-actions-l: 18px;
  --semantic-font-size-actions-xl: 20px;
  --semantic-font-size-typography-heading-xs: 24px;
  --semantic-font-size-typography-heading-s: 28px;
  --semantic-font-size-typography-heading-m: 32px;
  --semantic-font-size-typography-heading-l: 44px;
  --semantic-font-size-typography-heading-xl: 48px;
  --semantic-font-size-typography-heading-xxl: 64px;
  --semantic-font-size-typography-body-xs: 12px;
  --semantic-font-size-typography-body-s: 14px;
  --semantic-font-size-typography-body-m: 16px;
  --semantic-font-size-typography-body-l: 18px;
  --semantic-font-size-typography-body-xl: 20px;
  --semantic-font-size-typography-body-xxl: 22px;
  --semantic-font-size-typography-body-xxxl: 24px;
  --semantic-font-size-typography-code-xs: 12px;
  --semantic-font-size-typography-code-s: 14px;
  --semantic-font-size-typography-code-m: 16px;
  --semantic-font-size-typography-code-l: 18px;
  --semantic-font-size-typography-code-xl: 20px;
  --semantic-font-size-typography-detail-s: 10px;
  --semantic-font-size-typography-detail-m: 12px;
  --semantic-font-size-typography-detail-l: 14px;
  --semantic-font-size-typography-detail-xl: 16px;
  --semantic-font-size-inputs-s: 14px;
  --semantic-font-size-inputs-m: 16px;
  --semantic-font-size-inputs-l: 18px;
  --semantic-font-size-inputs-xl: 20px;
  --semantic-font-size-feedback-s: 14px;
  --semantic-font-size-feedback-m: 16px;
  --semantic-font-size-feedback-l: 18px;
  --semantic-font-size-feedback-xl: 20px;
  --semantic-font-size-status-s: 14px;
  --semantic-font-size-status-m: 16px;
  --semantic-font-size-status-l: 18px;
  --semantic-font-size-status-xl: 20px;
  --semantic-spacing-actions-small-padding-left: 16px;
  --semantic-spacing-actions-small-padding-right: 16px;
  --semantic-spacing-actions-small-padding-top: 8px;
  --semantic-spacing-actions-small-padding-bottom: 8px;
  --semantic-spacing-actions-medium-padding-left: 16px;
  --semantic-spacing-actions-medium-padding-right: 16px;
  --semantic-spacing-actions-medium-padding-top: 12px;
  --semantic-spacing-actions-medium-padding-bottom: 12px;
  --semantic-spacing-actions-large-padding-left: 16px;
  --semantic-spacing-actions-large-padding-right: 16px;
  --semantic-spacing-actions-large-padding-top: 16px;
  --semantic-spacing-actions-large-padding-bottom: 16px;
  --semantic-spacing-actions-extra-large-padding-left: 16px;
  --semantic-spacing-actions-extra-large-padding-right: 16px;
  --semantic-spacing-actions-extra-large-padding-top: 20px;
  --semantic-spacing-actions-extra-large-padding-bottom: 20px;
  --semantic-spacing-feedback-padding-left: 16px;
  --semantic-spacing-feedback-padding-right: 16px;
  --semantic-spacing-feedback-padding-top: 16px;
  --semantic-spacing-feedback-padding-bottom: 16px;
  --semantic-spacing-status-small-padding-top: 6px;
  --semantic-spacing-status-small-padding-right: 12px;
  --semantic-spacing-status-small-padding-bottom: 6px;
  --semantic-spacing-status-small-padding-left: 12px;
  --semantic-spacing-status-medium-padding-top: 8px;
  --semantic-spacing-status-medium-padding-right: 16px;
  --semantic-spacing-status-medium-padding-bottom: 8px;
  --semantic-spacing-status-medium-padding-left: 16px;
  --semantic-spacing-status-large-padding-top: 8px;
  --semantic-spacing-status-large-padding-right: 16px;
  --semantic-spacing-status-large-padding-bottom: 8px;
  --semantic-spacing-status-large-padding-left: 16px;
  --semantic-spacing-status-extra-large-padding-top: 8px;
  --semantic-spacing-status-extra-large-padding-right: 16px;
  --semantic-spacing-status-extra-large-padding-bottom: 8px;
  --semantic-spacing-status-extra-large-padding-left: 16px;
  --semantic-font-family-inputs: "IBM Plex Sans";
  --semantic-font-family-actions: "IBM Plex Sans";
  --semantic-font-family-typography-serif: "IBM Plex Serif";
  --semantic-font-family-typography-sans-serif: "IBM Plex Sans";
  --semantic-font-family-typography-mono: "IBM Plex Mono";
  --semantic-font-family-feedback: "IBM Plex Sans";
  --semantic-font-family-status: "IBM Plex Sans";
  --semantic-font-weight-inputs: Regular;
  --semantic-font-weight-actions: Regular;
  --semantic-font-weight-status: Regular;
  --semantic-font-weight-typography-light: Light;
  --semantic-font-weight-typography-regular: Regular;
  --semantic-font-weight-typography-semibold: SemiBold;
  --semantic-font-weight-typography-bold: Bold;
  --semantic-font-weight-feedback-regular: Regular;
  --semantic-font-weight-feedback-bold: Bold;
  --semantic-border-radius-actions: 4px;
  --semantic-border-radius-inputs: 4px;
  --semantic-border-radius-status: 0px;
  --semantic-border-radius-feedback: 4px;
  --semantic-border-width-actions: 1px;
  --semantic-border-width-inputs: 1px;
  --semantic-border-width-status: 1px;
  --semantic-border-width-feedback: 1px;
  --semantic-sizing-actions-icon-size-small: 14px;
  --semantic-sizing-actions-icon-size-medium: 16px;
  --semantic-sizing-actions-icon-size-large: 18px;
  --semantic-sizing-actions-icon-size-extra-large: 20px;
  --semantic-sizing-inputs-icon-size-small: 14px;
  --semantic-sizing-inputs-icon-size-medium: 16px;
  --semantic-sizing-inputs-icon-size-large: 18px;
  --semantic-sizing-inputs-icon-size-extra-large: 20px;
  --semantic-sizing-inputs-width: 20px;
  --semantic-sizing-feedback-icon-size: 16px;
  --semantic-sizing-feedback-width: 72px;
  --semantic-line-height-typography-heading: 130%;
  --semantic-line-height-typography-body: 150%;
  --semantic-line-height-typography-code: 130%;
  --semantic-line-height-typography-detail: 130%;
  --border-radius-0: 0px;
  --border-radius-1: 1px;
  --border-radius-2: 2px;
  --border-radius-3: 3px;
  --border-radius-4: 4px;
  --border-radius-5: 8px;
  --border-radius-6: 24px;
  --border-radius-7: 32px;
  --border-width-0: 0px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 4px;
  --color-red-10: #FEF6F7;
  --color-red-20: #FFD9D9;
  --color-red-30: #FFA7A6;
  --color-red-40: #FC6563;
  --color-red-50: #EB3B46;
  --color-red-60: #C74248;
  --color-red-70: #A3363B;
  --color-yellow-10: #FEFBF5;
  --color-yellow-20: #FFF2D9;
  --color-yellow-30: #FFE0A6;
  --color-yellow-40: #FFC459;
  --color-yellow-50: #FAA719;
  --color-yellow-60: #C9850A;
  --color-yellow-70: #996508;
  --color-green-10: #F2FDFB;
  --color-green-20: #C9F0E9;
  --color-green-30: #99E8DB;
  --color-green-40: #2CD8BB;
  --color-green-50: #00AB8E;
  --color-green-60: #007562;
  --color-green-70: #004238;
  --color-purple-10: #F7F6FC;
  --color-purple-20: #E3E1FA;
  --color-purple-30: #C3BFF2;
  --color-purple-40: #958EE0;
  --color-purple-50: #6B62D1;
  --color-purple-60: #4239AB;
  --color-purple-70: #332BA2;
  --color-blue-10: #F5FAFD;
  --color-blue-20: #D4EDFA;
  --color-blue-30: #A2DDFA;
  --color-blue-40: #54C3F9;
  --color-blue-50: #0096DB;
  --color-blue-60: #006796;
  --color-blue-70: #004261;
  --color-grey-10: #F9FAFC;
  --color-grey-20: #E8EBF2;
  --color-grey-30: #DDDFEA;
  --color-grey-40: #AAAFC7;
  --color-grey-50: #6F7592;
  --color-grey-60: #3C4858;
  --color-grey-70: #2B3440;
  --color-magenta-10: #FEF6FA;
  --color-magenta-20: #FFD9ED;
  --color-magenta-30: #FFA6D5;
  --color-magenta-40: #FC63B5;
  --color-magenta-50: #EB3B99;
  --color-magenta-60: #C74289;
  --color-magenta-70: #A33671;
  --color-neutrals-black: #000000;
  --color-neutrals-white: #ffffff;
  --color-neutrals-transparent: #ffffff03;
  --font-family-serif: "IBM Plex Serif";
  --font-family-sans-serif: "IBM Plex Sans";
  --font-family-mono: "IBM Plex Mono";
  --font-size-0: 8px;
  --font-size-1: 10px;
  --font-size-2: 12px;
  --font-size-3: 14px;
  --font-size-4: 16px;
  --font-size-5: 18px;
  --font-size-6: 20px;
  --font-size-7: 22px;
  --font-size-8: 24px;
  --font-size-9: 26px;
  --font-size-10: 28px;
  --font-size-11: 30px;
  --font-size-12: 32px;
  --font-size-13: 34px;
  --font-size-14: 36px;
  --font-size-15: 38px;
  --font-size-16: 40px;
  --font-size-17: 42px;
  --font-size-18: 44px;
  --font-size-19: 46px;
  --font-size-20: 48px;
  --font-size-21: 50px;
  --font-size-22: 52px;
  --font-size-23: 54px;
  --font-size-24: 64px;
  --font-style-normal: normal;
  --font-style-italic: italic;
  --font-weight-semi-bold: SemiBold;
  --font-weight-regular: Regular;
  --font-weight-light: Light;
  --font-weight-bold: Bold;
  --line-height-1: 130%;
  --line-height-2: 150%;
  --opacity-5: 5%;
  --opacity-10: 10%;
  --opacity-15: 15%;
  --opacity-20: 20%;
  --opacity-25: 25%;
  --opacity-30: 30%;
  --opacity-40: 40%;
  --opacity-50: 50%;
  --opacity-60: 60%;
  --opacity-70: 70%;
  --opacity-80: 80%;
  --opacity-90: 90%;
  --opacity-100: 100%;
  --size-0: 0px;
  --size-25: 2px;
  --size-50: 4px;
  --size-75: 6px;
  --size-100: 8px;
  --size-125: 10px;
  --size-150: 12px;
  --size-175: 14px;
  --size-200: 16px;
  --size-225: 18px;
  --size-250: 20px;
  --size-275: 22px;
  --size-300: 24px;
  --size-400: 32px;
  --size-500: 40px;
  --size-600: 48px;
  --size-700: 56px;
  --size-800: 64px;
  --size-900: 72px;
  --space-0: 0px;
  --space-25: 2px;
  --space-50: 4px;
  --space-75: 6px;
  --space-100: 8px;
  --space-125: 10px;
  --space-150: 12px;
  --space-175: 14px;
  --space-200: 16px;
  --space-225: 18px;
  --space-250: 20px;
  --space-275: 22px;
  --space-300: 24px;
  --space-350: 28px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-700: 56px;
  --space-800: 64px;
  --space-900: 72px;
      }