.tokens-theme {
          --tag-font-family: "IBM Plex Sans";
  --tag-font-weight: Regular;
  --tag-border-radius: 2px;
  --tag-solid-info-background-color: #0096DB;
  --tag-solid-info-text-color: #ffffff;
  --tag-solid-success-background-color: #00AB8E;
  --tag-solid-success-text-color: #ffffff;
  --tag-solid-warning-background-color: #FAA719;
  --tag-solid-warning-text-color: #ffffff;
  --tag-solid-error-background-color: #EB3B46;
  --tag-solid-error-text-color: #ffffff;
  --tag-solid-neutral-background-color: #6F7592;
  --tag-solid-neutral-text-color: #ffffff;
  --tag-inverted-info-background-color: #D4EDFA;
  --tag-inverted-info-text-color: #0096DB;
  --tag-inverted-success-background-color: #C9F0E9;
  --tag-inverted-success-text-color: #00AB8E;
  --tag-inverted-warning-background-color: #FFF2D9;
  --tag-inverted-warning-text-color: #FAA719;
  --tag-inverted-error-background-color: #ffffff03;
  --tag-inverted-error-text-color: #EB3B46;
  --tag-inverted-neutral-background-color: #E8EBF2;
  --tag-inverted-neutral-text-color: #EB3B46;
  --tag-outlined-info-border-color: #0096DB;
  --tag-outlined-info-text-color: #0096DB;
  --tag-outlined-info-background-color: #ffffff03;
  --tag-outlined-sucess-border-color: #00AB8E;
  --tag-outlined-sucess-text-color: #00AB8E;
  --tag-outlined-sucess-background-color: #ffffff03;
  --tag-outlined-warning-border-color: #FAA719;
  --tag-outlined-warning-text-color: #FAA719;
  --tag-outlined-warning-background-color: #ffffff03;
  --tag-outlined-error-border-color: #EB3B46;
  --tag-outlined-error-text-color: #EB3B46;
  --tag-outlined-error-background-color: #ffffff03;
  --tag-outlined-neutral-border-color: #6F7592;
  --tag-outlined-neutral-text-color: #6F7592;
  --tag-outlined-neutral-background-color: #ffffff03;
  --tag-borderless-info-border-color: #ffffff03;
  --tag-borderless-info-text-color: #0096DB;
  --tag-borderless-info-background-color: #ffffff03;
  --tag-borderless-sucess-border-color: #ffffff03;
  --tag-borderless-sucess-text-color: #00AB8E;
  --tag-borderless-sucess-background-color: #ffffff03;
  --tag-borderless-warning-border-color: #ffffff03;
  --tag-borderless-warning-text-color: #FAA719;
  --tag-borderless-warning-background-color: #ffffff03;
  --tag-borderless-error-border-color: #ffffff03;
  --tag-borderless-error-text-color: #EB3B46;
  --tag-borderless-error-background-color: #ffffff03;
  --tag-borderless-neutral-border-color: #ffffff03;
  --tag-borderless-neutral-text-color: #6F7592;
  --tag-borderless-neutral-background-color: #ffffff03;
  --tag-small-text-size: 12px;
  --tag-small-padding-top: 6px;
  --tag-small-padding-right: 12px;
  --tag-small-padding-bottom: 6px;
  --tag-small-padding-left: 12px;
  --tag-medium-text-size: 14px;
  --tag-medium-padding-top: 8px;
  --tag-medium-padding-right: 16px;
  --tag-medium-padding-bottom: 8px;
  --tag-medium-padding-left: 16px;
  --tag-large-text-size: 16px;
  --tag-large-padding-top: 8px;
  --tag-large-padding-right: 16px;
  --tag-large-padding-bottom: 8px;
  --tag-large-padding-left: 16px;
  --tag-extra-large-text-size: 18px;
  --tag-extra-large-padding-top: 8px;
  --tag-extra-large-padding-right: 16px;
  --tag-extra-large-padding-bottom: 8px;
  --tag-extra-large-padding-left: 16px;
  --button-border-radius: 4px;
  --button-border-width: 1px;
  --button-font-family: "IBM Plex Sans";
  --button-font-weight: Regular;
  --button-focus-ring-color: #0096DB;
  --button-cta-default-background-color: #0096DB;
  --button-cta-default-text-color: #ffffff;
  --button-cta-default-border-color: #0096DB;
  --button-cta-default-icon-color: #ffffff;
  --button-cta-hover-background-color: #006796;
  --button-cta-hover-text-color: #ffffff;
  --button-cta-hover-border-color: #006796;
  --button-cta-hover-icon-color: #ffffff;
  --button-cta-active-background-color: #004261;
  --button-cta-active-text-color: #ffffff;
  --button-cta-active-border-color: #004261;
  --button-cta-active-icon-color: #ffffff;
  --button-cta-focus-background-color: #0096DB;
  --button-cta-focus-text-color: #ffffff;
  --button-cta-focus-border-color: #0096DB;
  --button-cta-focus-icon-color: #ffffff;
  --button-primary-default-background-color: #ffffff03;
  --button-primary-default-quiet-background-color: #ffffff03;
  --button-primary-default-text-color: #3C4858;
  --button-primary-default-quiet-text-color: #3C4858;
  --button-primary-default-border-color: #3C4858;
  --button-primary-default-quiet-border-color: #ffffff03;
  --button-primary-default-icon-color: #3C4858;
  --button-primary-default-quiet-icon-color: #3C4858;
  --button-primary-hover-background-color: #2B3440;
  --button-primary-hover-quiet-background-color: #E8EBF2;
  --button-primary-hover-text-color: #ffffff;
  --button-primary-hover-quiet-text-color: #2B3440;
  --button-primary-hover-border-color: #2B3440;
  --button-primary-hover-quiet-border-color: #E8EBF2;
  --button-primary-hover-icon-color: #ffffff;
  --button-primary-hover-quiet-icon-color: #2B3440;
  --button-primary-active-background-color: #2B3440;
  --button-primary-active-quiet-background-color: #DDDFEA;
  --button-primary-active-text-color: #ffffff;
  --button-primary-active-quiet-text-color: #2B3440;
  --button-primary-active-border-color: #2B3440;
  --button-primary-active-quiet-border-color: #DDDFEA;
  --button-primary-active-icon-color: #ffffff;
  --button-primary-active-quiet-icon-color: #2B3440;
  --button-primary-focus-background-color: #ffffff03;
  --button-primary-focus-quiet-background-color: #ffffff03;
  --button-primary-focus-text-color: #3C4858;
  --button-primary-focus-quiet-text-color: #3C4858;
  --button-primary-focus-border-color: #3C4858;
  --button-primary-focus-quiet-border-color: #ffffff03;
  --button-primary-focus-icon-color: #3C4858;
  --button-primary-focus-quiet-icon-color: #3C4858;
  --button-secondary-default-background-color: #ffffff03;
  --button-secondary-default-quiet-background-color: #ffffff03;
  --button-secondary-default-text-color: #6F7592;
  --button-secondary-default-quiet-text-color: #6F7592;
  --button-secondary-default-border-color: #6F7592;
  --button-secondary-default-quiet-border-color: #ffffff03;
  --button-secondary-default-icon-color: #6F7592;
  --button-secondary-default-quiet-icon-color: #6F7592;
  --button-secondary-hover-background-color: #3C4858;
  --button-secondary-hover-quiet-background-color: #E8EBF2;
  --button-secondary-hover-text-color: #ffffff;
  --button-secondary-hover-quiet-text-color: #3C4858;
  --button-secondary-hover-border-color: #3C4858;
  --button-secondary-hover-quiet-border-color: #E8EBF2;
  --button-secondary-hover-icon-color: #ffffff;
  --button-secondary-hover-quiet-icon-color: #3C4858;
  --button-secondary-active-background-color: #2B3440;
  --button-secondary-active-quiet-background-color: #DDDFEA;
  --button-secondary-active-text-color: #ffffff;
  --button-secondary-active-quiet-text-color: #2B3440;
  --button-secondary-active-border-color: #2B3440;
  --button-secondary-active-quiet-border-color: #DDDFEA;
  --button-secondary-active-icon-color: #ffffff;
  --button-secondary-active-quiet-icon-color: #2B3440;
  --button-secondary-focus-background-color: #ffffff03;
  --button-secondary-focus-quiet-background-color: #ffffff03;
  --button-secondary-focus-text-color: #6F7592;
  --button-secondary-focus-quiet-text-color: #6F7592;
  --button-secondary-focus-border-color: #6F7592;
  --button-secondary-focus-quiet-border-color: #ffffff03;
  --button-secondary-focus-icon-color: #6F7592;
  --button-secondary-focus-quiet-icon-color: #6F7592;
  --button-negative-default-background-color: #ffffff03;
  --button-negative-default-quiet-background-color: #ffffff03;
  --button-negative-default-text-color: #EB3B46;
  --button-negative-default-quiet-text-color: #EB3B46;
  --button-negative-default-border-color: #EB3B46;
  --button-negative-default-quiet-border-color: #ffffff03;
  --button-negative-default-icon-color: #EB3B46;
  --button-negative-default-quiet-icon-color: #EB3B46;
  --button-negative-hover-background-color: #EB3B46;
  --button-negative-hover-quiet-background-color: #ffffff03;
  --button-negative-hover-text-color: #ffffff;
  --button-negative-hover-quiet-text-color: #EB3B46;
  --button-negative-hover-border-color: #EB3B46;
  --button-negative-hover-quiet-border-color: #E8EBF2;
  --button-negative-hover-icon-color: #ffffff;
  --button-negative-hover-quiet-icon-color: #EB3B46;
  --button-negative-active-background-color: #A3363B;
  --button-negative-active-quiet-background-color: #ffffff03;
  --button-negative-active-text-color: #ffffff;
  --button-negative-active-quiet-text-color: #A3363B;
  --button-negative-active-border-color: #A3363B;
  --button-negative-active-quiet-border-color: #ffffff03;
  --button-negative-active-icon-color: #ffffff;
  --button-negative-active-quiet-icon-color: #A3363B;
  --button-negative-focus-background-color: #ffffff03;
  --button-negative-focus-quiet-background-color: #ffffff03;
  --button-negative-focus-text-color: #EB3B46;
  --button-negative-focus-quiet-text-color: #EB3B46;
  --button-negative-focus-border-color: #EB3B46;
  --button-negative-focus-quiet-border-color: #ffffff03;
  --button-negative-focus-icon-color: #EB3B46;
  --button-negative-focus-quiet-icon-color: #EB3B46;
  --button-disabled-background-color: #E8EBF2;
  --button-disabled-text-color: #AAAFC7;
  --button-disabled-border-color: #E8EBF2;
  --button-disabled-icon-color: #AAAFC7;
  --button-small-text-size: 14px;
  --button-small-padding-left: 16px;
  --button-small-padding-right: 16px;
  --button-small-padding-top: 8px;
  --button-small-padding-bottom: 8px;
  --button-small-icon-size: 14px;
  --button-medium-text-size: 16px;
  --button-medium-padding-left: 16px;
  --button-medium-padding-right: 16px;
  --button-medium-padding-top: 12px;
  --button-medium-padding-bottom: 12px;
  --button-medium-icon-size: 16px;
  --button-large-text-size: 18px;
  --button-large-padding-left: 16px;
  --button-large-padding-right: 16px;
  --button-large-padding-top: 16px;
  --button-large-padding-bottom: 16px;
  --button-large-icon-size: 18px;
  --button-extra-large-text-size: 20px;
  --button-extra-large-padding-left: 16px;
  --button-extra-large-padding-right: 16px;
  --button-extra-large-padding-top: 20px;
  --button-extra-large-padding-bottom: 20px;
  --button-extra-large-icon-size: 20px;
  --button-line-height: 100%;
  --semantic-color-negative-default-border-color: #EB3B46;
  --semantic-color-negative-default-quiet-border-color: #ffffff03;
  --semantic-color-negative-default-text-color: #EB3B46;
  --semantic-color-negative-default-quiet-text-color: #EB3B46;
  --semantic-color-negative-default-background-color: #ffffff03;
  --semantic-color-negative-default-quiet-background-color: #ffffff03;
  --semantic-color-negative-hover-border-color: #EB3B46;
  --semantic-color-negative-hover-quiet-border-color: #E8EBF2;
  --semantic-color-negative-hover-text-color: #ffffff;
  --semantic-color-negative-hover-quiet-text-color: #EB3B46;
  --semantic-color-negative-hover-background-color: #EB3B46;
  --semantic-color-negative-hover-quiet-background-color: #ffffff03;
  --semantic-color-negative-active-border-color: #A3363B;
  --semantic-color-negative-active-quiet-border-color: #ffffff03;
  --semantic-color-negative-active-text-color: #ffffff;
  --semantic-color-negative-active-quiet-text-color: #A3363B;
  --semantic-color-negative-active-background-color: #A3363B;
  --semantic-color-negative-active-quiet-background-color: #ffffff03;
  --semantic-color-negative-focus-border-color: #EB3B46;
  --semantic-color-negative-focus-quiet-border-color: #ffffff03;
  --semantic-color-negative-focus-text-color: #EB3B46;
  --semantic-color-negative-focus-quiet-text-color: #EB3B46;
  --semantic-color-negative-focus-background-color: #ffffff03;
  --semantic-color-negative-focus-quiet-background-color: #ffffff03;
  --semantic-color-info-default-border-color: #0096DB;
  --semantic-color-info-default-text-color: #0096DB;
  --semantic-color-info-default-background-color: #D4EDFA;
  --semantic-color-info-hover-border-color: #0096DB;
  --semantic-color-info-hover-text-color: #ffffff;
  --semantic-color-info-hover-background-color: #0096DB;
  --semantic-color-info-active-border-color: #004261;
  --semantic-color-info-active-text-color: #ffffff;
  --semantic-color-info-active-background-color: #004261;
  --semantic-color-warning-default-border-color: #FAA719;
  --semantic-color-warning-default-text-color: #FAA719;
  --semantic-color-warning-default-background-color: #FFF2D9;
  --semantic-color-warning-hover-border-color: #FAA719;
  --semantic-color-warning-hover-text-color: #ffffff;
  --semantic-color-warning-hover-background-color: #FAA719;
  --semantic-color-warning-active-border-color: #996508;
  --semantic-color-warning-active-text-color: #ffffff;
  --semantic-color-warning-active-background-color: #996508;
  --semantic-color-success-default-border-color: #00AB8E;
  --semantic-color-success-default-text-color: #00AB8E;
  --semantic-color-success-default-background-color: #C9F0E9;
  --semantic-color-success-hover-border-color: #00AB8E;
  --semantic-color-success-hover-text-color: #ffffff;
  --semantic-color-success-hover-background-color: #00AB8E;
  --semantic-color-success-active-border-color: #004238;
  --semantic-color-success-active-text-color: #ffffff;
  --semantic-color-success-active-background-color: #004238;
  --semantic-color-help-default-border-color: #6B62D1;
  --semantic-color-help-default-text-color: #6B62D1;
  --semantic-color-help-default-background-color: #E3E1FA;
  --semantic-color-help-hover-border-color: #6B62D1;
  --semantic-color-help-hover-text-color: #ffffff;
  --semantic-color-help-hover-background-color: #6B62D1;
  --semantic-color-help-active-border-color: #332BA2;
  --semantic-color-help-active-text-color: #ffffff;
  --semantic-color-help-active-background-color: #332BA2;
  --semantic-color-cta-default-border-color: #0096DB;
  --semantic-color-cta-default-text-color: #ffffff;
  --semantic-color-cta-default-background-color: #0096DB;
  --semantic-color-cta-hover-border-color: #006796;
  --semantic-color-cta-hover-text-color: #ffffff;
  --semantic-color-cta-hover-background-color: #006796;
  --semantic-color-cta-active-border-color: #004261;
  --semantic-color-cta-active-text-color: #ffffff;
  --semantic-color-cta-active-background-color: #004261;
  --semantic-color-cta-focus-border-color: #0096DB;
  --semantic-color-cta-focus-text-color: #ffffff;
  --semantic-color-cta-focus-background-color: #0096DB;
  --semantic-color-primary-default-border-color: #3C4858;
  --semantic-color-primary-default-quiet-border-color: #ffffff03;
  --semantic-color-primary-default-text-color: #3C4858;
  --semantic-color-primary-default-quiet-text-color: #3C4858;
  --semantic-color-primary-default-background-color: #ffffff03;
  --semantic-color-primary-default-quiet-background-color: #ffffff03;
  --semantic-color-primary-hover-border-color: #2B3440;
  --semantic-color-primary-hover-quiet-border-color: #E8EBF2;
  --semantic-color-primary-hover-text-color: #ffffff;
  --semantic-color-primary-hover-quiet-text-color: #2B3440;
  --semantic-color-primary-hover-background-color: #2B3440;
  --semantic-color-primary-hover-quiet-background-color: #E8EBF2;
  --semantic-color-primary-active-border-color: #2B3440;
  --semantic-color-primary-active-quiet-border-color: #DDDFEA;
  --semantic-color-primary-active-text-color: #ffffff;
  --semantic-color-primary-active-quiet-text-color: #2B3440;
  --semantic-color-primary-active-background-color: #2B3440;
  --semantic-color-primary-active-quiet-background-color: #DDDFEA;
  --semantic-color-primary-focus-border-color: #3C4858;
  --semantic-color-primary-focus-quiet-border-color: #ffffff03;
  --semantic-color-primary-focus-text-color: #3C4858;
  --semantic-color-primary-focus-quiet-text-color: #3C4858;
  --semantic-color-primary-focus-background-color: #ffffff03;
  --semantic-color-primary-focus-quiet-background-color: #ffffff03;
  --semantic-color-secondary-default-border-color: #6F7592;
  --semantic-color-secondary-default-quiet-border-color: #ffffff03;
  --semantic-color-secondary-default-text-color: #6F7592;
  --semantic-color-secondary-default-quiet-text-color: #6F7592;
  --semantic-color-secondary-default-background-color: #ffffff03;
  --semantic-color-secondary-default-quiet-background-color: #ffffff03;
  --semantic-color-secondary-hover-border-color: #3C4858;
  --semantic-color-secondary-hover-quiet-border-color: #E8EBF2;
  --semantic-color-secondary-hover-text-color: #ffffff;
  --semantic-color-secondary-hover-quiet-text-color: #3C4858;
  --semantic-color-secondary-hover-background-color: #3C4858;
  --semantic-color-secondary-hover-quiet-background-color: #E8EBF2;
  --semantic-color-secondary-active-border-color: #2B3440;
  --semantic-color-secondary-active-quiet-border-color: #DDDFEA;
  --semantic-color-secondary-active-text-color: #ffffff;
  --semantic-color-secondary-active-quiet-text-color: #2B3440;
  --semantic-color-secondary-active-background-color: #2B3440;
  --semantic-color-secondary-active-quiet-background-color: #DDDFEA;
  --semantic-color-secondary-focus-border-color: #6F7592;
  --semantic-color-secondary-focus-quiet-border-color: #ffffff03;
  --semantic-color-secondary-focus-text-color: #6F7592;
  --semantic-color-secondary-focus-quiet-text-color: #6F7592;
  --semantic-color-secondary-focus-background-color: #ffffff03;
  --semantic-color-secondary-focus-quiet-background-color: #ffffff03;
  --semantic-color-neutral-default-border-color: #6F7592;
  --semantic-color-neutral-default-text-color: #6F7592;
  --semantic-color-neutral-default-background-color: #E8EBF2;
  --semantic-color-neutral-hover-border-color: #6F7592;
  --semantic-color-neutral-hover-text-color: #ffffff;
  --semantic-color-neutral-hover-background-color: #6F7592;
  --semantic-color-neutral-active-border-color: #2B3440;
  --semantic-color-neutral-active-text-color: #ffffff;
  --semantic-color-neutral-active-background-color: #2B3440;
  --semantic-color-disabled-background-color: #E8EBF2;
  --semantic-color-disabled-text-color: #AAAFC7;
  --semantic-color-disabled-border-color: #E8EBF2;
  --semantic-color-text-body-default: #2B3440;
  --semantic-color-text-body-on-background: #ffffff;
  --semantic-color-text-heading-default: #ffffff;
  --semantic-color-text-heading-on-background: #ffffff;
  --semantic-color-text-detail-default: #2B3440;
  --semantic-color-text-detail-on-background: #ffffff;
  --semantic-color-text-ui-default: #2B3440;
  --semantic-color-text-ui-on-background: #ffffff;
  --semantic-text-size-small: 14px;
  --semantic-text-size-medium: 16px;
  --semantic-text-size-large: 18px;
  --semantic-text-size-extra-large: 20px;
  --semantic-spacing-small-padding-left: 16px;
  --semantic-spacing-small-padding-right: 16px;
  --semantic-spacing-small-padding-top: 8px;
  --semantic-spacing-small-padding-bottom: 8px;
  --semantic-spacing-medium-padding-left: 16px;
  --semantic-spacing-medium-padding-right: 16px;
  --semantic-spacing-medium-padding-top: 12px;
  --semantic-spacing-medium-padding-bottom: 12px;
  --semantic-spacing-large-padding-left: 16px;
  --semantic-spacing-large-padding-right: 16px;
  --semantic-spacing-large-padding-top: 16px;
  --semantic-spacing-large-padding-bottom: 16px;
  --semantic-spacing-extra-large-padding-left: 16px;
  --semantic-spacing-extra-large-padding-right: 16px;
  --semantic-spacing-extra-large-padding-top: 20px;
  --semantic-spacing-extra-large-padding-bottom: 20px;
  --border-radius-0: 0px;
  --border-radius-1: 1px;
  --border-radius-2: 2px;
  --border-radius-3: 3px;
  --border-radius-4: 4px;
  --border-radius-5: 8px;
  --border-radius-6: 24px;
  --border-radius-7: 32px;
  --border-width-0: 0px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 4px;
  --color-red-10: #FEF6F7;
  --color-red-20: #FFD9D9;
  --color-red-30: #FFA7A6;
  --color-red-40: #FC6563;
  --color-red-50: #EB3B46;
  --color-red-60: #C74248;
  --color-red-70: #A3363B;
  --color-yellow-10: #FEFBF5;
  --color-yellow-20: #FFF2D9;
  --color-yellow-30: #FFE0A6;
  --color-yellow-40: #FFC459;
  --color-yellow-50: #FAA719;
  --color-yellow-60: #C9850A;
  --color-yellow-70: #996508;
  --color-green-10: #F2FDFB;
  --color-green-20: #C9F0E9;
  --color-green-30: #99E8DB;
  --color-green-40: #2CD8BB;
  --color-green-50: #00AB8E;
  --color-green-60: #007562;
  --color-green-70: #004238;
  --color-purple-10: #F7F6FC;
  --color-purple-20: #E3E1FA;
  --color-purple-30: #C3BFF2;
  --color-purple-40: #958EE0;
  --color-purple-50: #6B62D1;
  --color-purple-60: #4239AB;
  --color-purple-70: #332BA2;
  --color-blue-10: #F5FAFD;
  --color-blue-20: #D4EDFA;
  --color-blue-30: #A2DDFA;
  --color-blue-40: #54C3F9;
  --color-blue-50: #0096DB;
  --color-blue-60: #006796;
  --color-blue-70: #004261;
  --color-grey-10: #F9FAFC;
  --color-grey-20: #E8EBF2;
  --color-grey-30: #DDDFEA;
  --color-grey-40: #AAAFC7;
  --color-grey-50: #6F7592;
  --color-grey-60: #3C4858;
  --color-grey-70: #2B3440;
  --color-magenta-10: #FEF6FA;
  --color-magenta-20: #FFD9ED;
  --color-magenta-30: #FFA6D5;
  --color-magenta-40: #FC63B5;
  --color-magenta-50: #EB3B99;
  --color-magenta-60: #C74289;
  --color-magenta-70: #A33671;
  --color-neutrals-black: #000000;
  --color-neutrals-white: #ffffff;
  --color-neutrals-transparent: #ffffff03;
  --font-family-serif: "IBM Plex Serif";
  --font-family-sans-serif: "IBM Plex Sans";
  --font-family-mono: "IBM Plex Mono";
  --font-size-0: 8px;
  --font-size-1: 10px;
  --font-size-2: 12px;
  --font-size-3: 14px;
  --font-size-4: 16px;
  --font-size-5: 18px;
  --font-size-6: 20px;
  --font-size-7: 22px;
  --font-size-8: 24px;
  --font-size-9: 26px;
  --font-size-10: 28px;
  --font-size-11: 30px;
  --font-size-12: 32px;
  --font-size-13: 34px;
  --font-size-14: 36px;
  --font-size-15: 38px;
  --font-size-16: 40px;
  --font-size-17: 42px;
  --font-size-18: 44px;
  --font-size-19: 46px;
  --font-size-20: 48px;
  --font-size-21: 50px;
  --font-size-22: 52px;
  --font-size-23: 54px;
  --font-size-24: 64px;
  --font-style-normal: normal;
  --font-style-italic: italic;
  --font-weight-semi-bold: SemiBold;
  --font-weight-regular: Regular;
  --font-weight-light: Light;
  --font-weight-bold: Bold;
  --line-height-1: 130%;
  --line-height-2: 150%;
  --opacity-5: 5%;
  --opacity-10: 10%;
  --opacity-15: 15%;
  --opacity-20: 20%;
  --opacity-25: 25%;
  --opacity-30: 30%;
  --opacity-40: 40%;
  --opacity-50: 50%;
  --opacity-60: 60%;
  --opacity-70: 70%;
  --opacity-80: 80%;
  --opacity-90: 90%;
  --opacity-100: 100%;
  --size-0: 0px;
  --size-25: 2px;
  --size-50: 4px;
  --size-75: 6px;
  --size-100: 8px;
  --size-125: 10px;
  --size-150: 12px;
  --size-175: 14px;
  --size-200: 16px;
  --size-225: 18px;
  --size-250: 20px;
  --size-275: 22px;
  --size-300: 24px;
  --size-400: 32px;
  --size-500: 40px;
  --size-600: 48px;
  --size-700: 56px;
  --size-800: 64px;
  --size-900: 72px;
  --space-0: 0px;
  --space-25: 2px;
  --space-50: 4px;
  --space-75: 6px;
  --space-100: 8px;
  --space-125: 10px;
  --space-150: 12px;
  --space-175: 14px;
  --space-200: 16px;
  --space-225: 18px;
  --space-250: 20px;
  --space-275: 22px;
  --space-300: 24px;
  --space-350: 28px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-700: 56px;
  --space-800: 64px;
  --space-900: 72px;
      }